<?xml version="1.0"?>
<launch>
  <!-- Launch the path visualizer -->
  <node pkg="gazebo_px4_simulator" type="gazebo_visualizer.py" name="gazebo_path_visualizer" output="screen">
    <param name="target_pos" value="[0.0, 0.0, 2.0]" />
    <param name="odor_threshold" value="4.5" />
  </node>
  
  <!-- Launch the odor heatmap visualizer 
  <node pkg="gazebo_px4_simulator" type="odor_heatmap_visualizer.py" name="odor_heatmap_visualizer" output="screen">
    <param name="odor_model_path" value="$(find gazebo_px4_simulator)/odor_sim_assets/hws/" />
    <param name="heatmap_resolution" value="0.5" />
    <param name="update_rate" value="2.0" />
  </node>-->
</launch>